body{

    font-family:Arial, sans-serif;

    background:white;

}



.container{


    width:70%;

    margin:auto;

    margin-top:40px;


    border:1px solid black;

    padding:25px;


}



h1{

    text-align:center;

}



.input-section{


    display:flex;

    flex-direction:column;

    gap:10px;


}



input{


    padding:8px;

    border:1px solid black;


}



button{


    width:120px;

    padding:8px;


    background:white;

    border:1px solid black;

    cursor:pointer;


}



button:hover{


    background:#eeeeee;


}



.result{


    margin-top:25px;

    border-top:1px solid black;

    padding-top:10px;


}



.graph{


    margin-top:30px;


}



.reset{


    margin-top:20px;


}